@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
  overflow-x: hidden;
  overflow-y: scroll;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

body {
  overflow: hidden; /* Body tidak boleh punya scrollbar sendiri */
  width: 100%;
  position: relative;
}

/* Cegah elemen melebihi viewport width */
* {
  box-sizing: border-box;
}

.borderBlack {
  @apply border border-black/10;
}
.bg-1 {
  background: linear-gradient(
      135deg,
      #0285c7aa 5%,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent
    ),
    linear-gradient(
      300deg,
      #0284c7 10%,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent
    );
  content: "";
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: absolute;
  border-radius: inherit;
  -webkit-mask: linear-gradient(black, black) content-box content-box,
    linear-gradient(black, black);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.blur-background {
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.image-modal-overlay {
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1500;
}
